.App {
  text-align: center;
  width: 50vh;
  margin: auto;
  border: solid 2px #6A82FB;
  background: #FC5C7D;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #6A82FB, #FC5C7D);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #6A82FB, #FC5C7D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  .btn{
    margin: .5vh;
    background-color: #6A82FB;
    border: solid 2px #FC5C7D;
    /* border:none; */
    padding: .5vh;
    min-width: 4vh;
    min-width: 4vh;
    font-size: 2vh;
  }

  .btn:hover{
    background-color: #FC5C7D;
    border: solid 2px #6A82FB;

  }
